<div class="main">
    <div class="main__container">
        <div class="main__content">
            <h1>pFin</h1>
            <h2>personal finance simplified</h2>
            <p>Take control of your financial situation</p>
            <button class="main__btn">
                <a href="/">Get Started</a>
            </button>
        </div>
        <div class="main__img--container">
            <img src="homeperson.jpg" alt="person celebrating at desk" id="main__img">
        </div>
    </div>
</div>
