<nav class="navbar">
    <div class="navbar_container">
        <img class="logo" src="logo.svg"/>
        <div class="navbar_toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar_menu">
            <li class="navbar_item">
                <a routerLink="/" class="navbar_links">Home</a>
            </li>
            <li class="navbar_item">
                <a routerLink="/about" class="navbar_links">About</a>
            </li>
            <li class="navbar_item">
                <a routerLink="/pricing" class="navbar_links">Pricing</a>
            </li>
            <li class="navbar_item">
                <a routerLink="/support" class="navbar_links">Support</a>
            </li>
            <li class="navbar_item">
                <a routerLink="/register" class="navbar_links">Register</a>
            </li>
            <li class="navbar_btn">
                <a routerLink="/sign-in" class="button">Sign In</a>
            </li>
        </ul>
    </div>
</nav>
